.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Cuprum, "Tahoma", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;  
}

a {
  color: #ffffff;
}

.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
}

::-webkit-input-placeholder {
  color: #ffffff;  
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}
::-moz-placeholder          {
  color: #ffffff;  
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}
:-moz-placeholder           {
  color: #ffffff;  
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}
:-ms-input-placeholder      {
  color: #ffffff;  
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

/*==========  HEADER-TOP  ==========*/

.page-header {
  background-color: #f3f7f8;
  border-bottom: 1px solid;
}

.page-header__top_back {
  background-color: #293449;  
}

.page-header__top {
  display: flex;  
  line-height: 18px; 
}

.logo__link {
  position: absolute; 
  display: block;
  width: 220px;
  height: 47px;
  padding-top: 13px;  

  text-align: center;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;   
}

.logo__link:hover {
  background-color: #ca2c37;
}

.logo__link:active {
  background-color: #ba2732;
}

.search {
  display: flex;  
  width: 268px;
  margin-left: 220px;  
}

.search__svg {
  margin: 12px 15px 0 19px;
  opacity: 0.3;
}

.search__input {
  width: 100%;
  padding: 12px 5px 12px 1px;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  background-color: #293449;
  border: none;
  outline: none;
}

.search:hover .search__svg{
  opacity: 1;
}

.search:focus-within path {
  fill: #ee3643;  
}

.search:focus-within .search__svg {
  opacity: 1;
}

.search:hover,
.search:hover .search__input {
  background-color: #212a3a;
}

.search:focus-within,
.search:focus-within .search__input {
  color: #000000;  
  background-color: #ffffff;
}

.header-tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;    
  padding: 0;

  list-style: none;
}

.header-tools__item {
  display: flex;  
  flex-grow: 1;
  background-color: #293449;
}

.header-tools__item_checkout {
  background-color: #63a63e;
}

.header-tools__link {  
  display: block;
  padding: 10px 23px 12px 19px;
  text-decoration: none;   
}

.header-tools__link_basket {
  padding-left: 16px;
}

.header-tools__link_checkout {  
  padding-top: 12px;
}

.header-tools__svg {
  margin-right: 9px;
  padding-top: 2px;
  opacity: 0.3;
}

.header-tools__svg_basket {
  margin-right: 13px;
}

.header-tools__item:hover .header-tools__svg {
  opacity: 1;
}

.header-tools__item:active .header-tools__svg {
  opacity: 0.5;
}

.header-tools__item:hover {
  background-color: #212a3a;
}

.header-tools__item:active .header-tools__link,
.header-tools__item:active {
  background-color: #161d29;
  color: rgb(100%, 100%, 100%, 0.6);
}

.header-tools__item_checkout:hover {
  background-color: #5fbb2d;
}

.header-tools__item_checkout:active .header-tools__link_checkout,
.header-tools__item_checkout:active {
  background-color: #518534;
  color: rgb(100%, 100%, 100%, 0.5);
}

/*==========  HEADER-MID  ==========*/

.page-header__mid {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  color: #ee3643;
}

.page-header__title {
  margin-top: 9px;
  margin-left: 52px;
  margin-right: 72px;
  width: 196px;    
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.page-header__text {
  margin: 0;
  margin-top: 18px;
  width: 280px;    
}

.page-header__tel {
  padding: 6px;
  padding-bottom: 8px;
  padding-left: 71px;
  padding-right: 50px;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 13px center;
  text-decoration: none;
}

.page-header__adress {
  display: block;
  margin-top: 16px;
  padding-left: 10px;
  color: #32425c;
  font-size: 14px;  
  line-height: 24px;
  letter-spacing: 0.1px;
}

.auth {
  display: flex;
  margin: 0;
  margin-top: 5px;
  margin-left: auto;  
  padding: 0;
  list-style: none;
}

.auth__item {
  margin-left: 10px;
}

.auth__link {
  display: block;
  padding: 13px 25px 11px;
  font-size: 21px;  
  line-height: 21px;
  color: #000;
  background-color: #ffffff;
  text-decoration: none;  
}

.auth__link_enter {
  padding-left: 15px;  
}

.auth__svg {
  margin-right: 9px;
}

.auth__link:hover {
  color: #ee3643;
}

.auth__item:hover .auth__svg path{
  fill: #32425c;
}

.auth__link:active {
  color: #000;
  opacity: 0.3;
}

/*==========  HEADER-BOTTOM  ==========*/

.header-menu {
  margin-top: 24px;
  margin-bottom: 61px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.header-menu__list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu__link {
  display: block;
  padding: 19px 31px 23px;
}

.header-menu__link:hover {
  background-color: #293449;
}

.header-menu__link:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/*==========  PROMO-BLOCKS  ==========*/

.promo-blocks__list {
  display: flex;
  flex-wrap: wrap;  
  margin: 0;
  margin-top: 58px;
  padding: 0;
  list-style: none;
}

.promo-block {
  background-color: #ffbf47;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 21px 22px;
  width: 300px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-block__link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 12px;
  margin-left: 2px;
  padding: 10px;
  min-width: 135px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;  
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-block__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-block__title {
  margin: 0;
}

.promo-block_tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-position: 197px 33px;
}

.promo-block_tech {
  margin-right: 0;
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-position: 191px 31px;
}

.promo-block_sale {
  margin-left: 640px;
  margin-right: 0;
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-position: 196px 27px;
}

.promo-block_deliv {
  margin-left: 640px;
  margin-right: 0;
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-position: 191px 33px;
}

/*==========  SLIDER  ==========*/

main {
  color: #000;
}